nav{
    background: transparent!important;
    
}
.nav-link{
    font-size: 18px;
    color:#FFC107!important;
    margin-right: 2rem;
}
.nav-link:hover{
    border-bottom: 2px solid #08d665;
    padding:0px;
}